	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/02/2017 07:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-android:before { content: "\f100"; }
.flaticon-android-logo:before { content: "\f101"; }
.flaticon-app:before { content: "\f102"; }
.flaticon-apple:before { content: "\f103"; }
.flaticon-arrows:before { content: "\f104"; }
.flaticon-arrows-1:before { content: "\f105"; }
.flaticon-arrows-2:before { content: "\f106"; }
.flaticon-arrows-3:before { content: "\f107"; }
.flaticon-arrows-4:before { content: "\f108"; }
.flaticon-arrows-5:before { content: "\f109"; }
.flaticon-arrows-6:before { content: "\f10a"; }
.flaticon-arrows-7:before { content: "\f10b"; }
.flaticon-arrows-8:before { content: "\f10c"; }
.flaticon-avatar:before { content: "\f10d"; }
.flaticon-bar-chart:before { content: "\f10e"; }
.flaticon-brain:before { content: "\f10f"; }
.flaticon-brain-body-organ-outline:before { content: "\f110"; }
.flaticon-business:before { content: "\f111"; }
.flaticon-business-1:before { content: "\f112"; }
.flaticon-cancel:before { content: "\f113"; }
.flaticon-chain-links:before { content: "\f114"; }
.flaticon-chat:before { content: "\f115"; }
.flaticon-chat-1:before { content: "\f116"; }
.flaticon-check:before { content: "\f117"; }
.flaticon-checkout:before { content: "\f118"; }
.flaticon-christian-baptism:before { content: "\f119"; }
.flaticon-clicker:before { content: "\f11a"; }
.flaticon-clock:before { content: "\f11b"; }
.flaticon-clock-circular-outline:before { content: "\f11c"; }
.flaticon-coffee-cup:before { content: "\f11d"; }
.flaticon-cogwheel:before { content: "\f11e"; }
.flaticon-computer:before { content: "\f11f"; }
.flaticon-computer-1:before { content: "\f120"; }
.flaticon-consultant:before { content: "\f121"; }
.flaticon-consultation:before { content: "\f122"; }
.flaticon-controls:before { content: "\f123"; }
.flaticon-cottage:before { content: "\f124"; }
.flaticon-cross-out:before { content: "\f125"; }
.flaticon-cube:before { content: "\f126"; }
.flaticon-customer-service:before { content: "\f127"; }
.flaticon-data-search-interface-symbol-of-a-bars-graphic-with-a-magnifier-tool:before { content: "\f128"; }
.flaticon-dollar-symbol:before { content: "\f129"; }
.flaticon-duplicate-content:before { content: "\f12a"; }
.flaticon-empty-shopping-cart:before { content: "\f12b"; }
.flaticon-equal:before { content: "\f12c"; }
.flaticon-euro-currency-symbol:before { content: "\f12d"; }
.flaticon-eye:before { content: "\f12e"; }
.flaticon-eye-1:before { content: "\f12f"; }
.flaticon-file:before { content: "\f130"; }
.flaticon-file-1:before { content: "\f131"; }
.flaticon-fingerprint:before { content: "\f132"; }
.flaticon-fingerprint-simple-outline:before { content: "\f133"; }
.flaticon-folder:before { content: "\f134"; }
.flaticon-folder-1:before { content: "\f135"; }
.flaticon-food:before { content: "\f136"; }
.flaticon-fountain-pen:before { content: "\f137"; }
.flaticon-google-plus:before { content: "\f138"; }
.flaticon-google-plus-1:before { content: "\f139"; }
.flaticon-google-plus-logo:before { content: "\f13a"; }
.flaticon-hammer-and-nail-on-wood-outline:before { content: "\f13b"; }
.flaticon-head:before { content: "\f13c"; }
.flaticon-head-1:before { content: "\f13d"; }
.flaticon-heart:before { content: "\f13e"; }
.flaticon-interface:before { content: "\f13f"; }
.flaticon-interface-1:before { content: "\f140"; }
.flaticon-interface-2:before { content: "\f141"; }
.flaticon-interface-3:before { content: "\f142"; }
.flaticon-interface-4:before { content: "\f143"; }
.flaticon-internet:before { content: "\f144"; }
.flaticon-left-arrow:before { content: "\f145"; }
.flaticon-left-arrow-1:before { content: "\f146"; }
.flaticon-left-arrow-2:before { content: "\f147"; }
.flaticon-left-quote:before { content: "\f148"; }
.flaticon-left-quote-1:before { content: "\f149"; }
.flaticon-line-chart:before { content: "\f14a"; }
.flaticon-line-chart-1:before { content: "\f14b"; }
.flaticon-link:before { content: "\f14c"; }
.flaticon-link-symbol:before { content: "\f14d"; }
.flaticon-linkedin-logo:before { content: "\f14e"; }
.flaticon-lock:before { content: "\f14f"; }
.flaticon-lock-1:before { content: "\f150"; }
.flaticon-locked:before { content: "\f151"; }
.flaticon-locked-1:before { content: "\f152"; }
.flaticon-logo:before { content: "\f153"; }
.flaticon-long-arrow-pointing-to-the-right:before { content: "\f154"; }
.flaticon-magnifying-glass:before { content: "\f155"; }
.flaticon-mail:before { content: "\f156"; }
.flaticon-megaphone:before { content: "\f157"; }
.flaticon-milk-products:before { content: "\f158"; }
.flaticon-monitor:before { content: "\f159"; }
.flaticon-multimedia:before { content: "\f15a"; }
.flaticon-multimedia-1:before { content: "\f15b"; }
.flaticon-music-player:before { content: "\f15c"; }
.flaticon-new-idea:before { content: "\f15d"; }
.flaticon-old-key:before { content: "\f15e"; }
.flaticon-package:before { content: "\f15f"; }
.flaticon-paper-plane:before { content: "\f160"; }
.flaticon-pen-1:before { content: "\f161"; }
.flaticon-person:before { content: "\f162"; }
.flaticon-phone-call:before { content: "\f163"; }
.flaticon-phone-receiver:before { content: "\f164"; }
.flaticon-photo-camera:before { content: "\f165"; }
.flaticon-photo-camera-1:before { content: "\f166"; }
.flaticon-placeholder:before { content: "\f167"; }
.flaticon-play-button:before { content: "\f168"; }
.flaticon-play-button-1:before { content: "\f169"; }
.flaticon-plus-button:before { content: "\f16a"; }
.flaticon-pound-sterling:before { content: "\f16b"; }
.flaticon-product-realise:before { content: "\f16c"; }
.flaticon-quote-left:before { content: "\f16d"; }
.flaticon-ranking-cup:before { content: "\f16e"; }
.flaticon-right-chevron:before { content: "\f16f"; }
.flaticon-search:before { content: "\f170"; }
.flaticon-search-1:before { content: "\f171"; }
.flaticon-settings:before { content: "\f172"; }
.flaticon-settings-1:before { content: "\f173"; }
.flaticon-settings-3:before { content: "\f174"; }
.flaticon-settings-4:before { content: "\f175"; }
.flaticon-share:before { content: "\f176"; }
.flaticon-shop-building:before { content: "\f177"; }
.flaticon-shopping-cart:before { content: "\f178"; }
.flaticon-shopping-cart-1:before { content: "\f179"; }
.flaticon-shopping-cart-with-product-inside:before { content: "\f17a"; }
.flaticon-smartphone:before { content: "\f17b"; }
.flaticon-smartphone-1:before { content: "\f17c"; }
.flaticon-smartphone-call:before { content: "\f17d"; }
.flaticon-smartphone-online-track:before { content: "\f17e"; }
.flaticon-social:before { content: "\f17f"; }
.flaticon-star:before { content: "\f180"; }
.flaticon-star-1:before { content: "\f181"; }
.flaticon-star-2:before { content: "\f182"; }
.flaticon-star-3:before { content: "\f183"; }
.flaticon-star-4:before { content: "\f184"; }
.flaticon-star-half-empty:before { content: "\f185"; }
.flaticon-store:before { content: "\f186"; }
.flaticon-technology:before { content: "\f187"; }
.flaticon-technology-1:before { content: "\f188"; }
.flaticon-technology-2:before { content: "\f189"; }
.flaticon-technology-3:before { content: "\f18a"; }
.flaticon-technology-4:before { content: "\f18b"; }
.flaticon-technology-5:before { content: "\f18c"; }
.flaticon-technology-6:before { content: "\f18d"; }
.flaticon-technology-7:before { content: "\f18e"; }
.flaticon-tick-inside-circle:before { content: "\f18f"; }
.flaticon-time:before { content: "\f190"; }
.flaticon-unlink:before { content: "\f191"; }
.flaticon-user-1:before { content: "\f192"; }
.flaticon-user-2:before { content: "\f193"; }
.flaticon-window-scrolling-left:before { content: "\f194"; }
.flaticon-wordpress:before { content: "\f195"; }
.flaticon-wordpress-logo:before { content: "\f196"; }
.flaticon-wrench:before { content: "\f197"; }
.flaticon-yelp-logo:before { content: "\f198"; }